.container {
    position: relative;
    display: none;
}

.active {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.form-options {
    display: flex;
    justify-content: flex-end;
    grid-column: 1/-1;
    width: 100%;
}

.form-options>button {
    padding: 0.25rem 2rem;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;

    margin: 0 auto;
    width: 50%;
    font-size: 1.5rem;
    border: none;
}

form>input {
    min-width: 300px;
    width: 100%;
}

form>label {
    padding-left: 1rem;
    text-align: right;
    white-space: nowrap;
}

h1 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}